@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

button
  {
    height: 100px;
    width: 100px;
    font-size: 48px;
    display: block;
    float: left;
    border: none;
    border-radius: 4px;
    margin: 5px;
    font-family: 'Open Sans', sans-serif;
    background: #EEE4DA;
    color: #776E65;
  }

.row1, .row2, .row3 {
  position: absolute;
}

.row2 {
  top: 117px;
}

.row3 {
  top: 225px;
}