@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,800);
@font-face {
  font-family: 'BrandonGrotesque';
  src: url("./Brandon_bld.otf");
  font-weight: regular;
  font-style: normal; }

body {
  width: 100%;
  height: auto;
  bottom: 0px;
  top: 0px;
  left: 0;
  position: absolute;
  margin: 0px;
}

.board {
  position: relative;
  width: 330px;
  height: 330px;
}

.header {
  width: 300px;
  padding: 20px 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  color: #333;
  text-align: center;
  color: #776E65;
  font-weight: 800;
  font-family: BrandonGrotesque-Bold;
  color: #EECAFC;
  /*line-height: 101px;*/
}

button {
  height: 90px;
  width: 90px;
  font-size: 48px;
  display: block;
  float: left;
  border: none;
  border-radius: 4px;
  margin: 8px;
  font-family: 'Open Sans', sans-serif;
  background: #50E3C2;
  color: #FFF;
}

button:focus {outline:0;}

.row1, .row2, .row3 {
  position: absolute;
}

.row2 {
  top: 33%;
}

.row3 {
  top: 66%;
}

.panel {
  margin: 0 auto;
  width: 30%
}

.status {
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

.box {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 20px;
  
}

.colorful {
  background: -webkit-radial-gradient(0% 100%, rgba(118, 72, 160, 0.701961) 0px, rgba(118, 72, 160, 0) 60%), -webkit-radial-gradient(90% 100%, rgb(82, 63, 140) 0px, rgba(82, 63, 140, 0) 40%), -webkit-radial-gradient(50% 0%, rgba(84, 90, 182, 0.6) 0px, rgba(84, 90, 182, 0) 75%), -webkit-radial-gradient(100% 0%, rgb(121, 74, 162) 0px, rgba(121, 74, 162, 0) 57%);
  background-color: #3b2f63; 
}